* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #D7EEE5;
    color: #333;
}

/* Updated Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232f3e;
    padding: 1rem 2rem;  /* Using rem for better scaling */
    color: white;
    position: sticky;    /* Make header sticky */
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}
nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.top_footer{

    background-color: lightslategray;
    
    color: #fff;
}
.top_footer ul{
    
    list-style: none;
    
    margin: 0;
    
    padding: 0;
}
.top_footer ul li{
        font-family: "Poppins", sans-serif;
        font-size: 18px;  
}
.top_footer ul li:first-child{
        font-weight: 700;
}
footer{
    padding: 8px 0px;
    background-color: gray;
    color: white;
}
footer p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif; 
}